
body {
  margin: auto;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  margin: auto;
}
.particles-js-canvas-el {
  z-index: 0;
  background-color: rgb(0, 0, 0);
  width: 4000px;
  height: 100%;
}

#canvas {
  z-index: 1;
}
::-webkit-scrollbar {
  height: 20px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}
#obrazek:hover {
  transition: 0.1s;
  transform: scale(1.5);
}

#info {
  z-index: 3;
  position: fixed;
  display: none;
  width: 100%;
}

#timeline {
  position: fixed;


}

#timeline_div {
  display: flex;
  flex-direction: row;
  position: fixed;
  gap: 48px;
  margin-top: 2%;
}
#timeline_div h2 {
  padding-bottom: 50;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
}

h1,
p {
  color: aliceblue;
}
.button {
  background-color: #ffffff;
  border: #ffffff 1px solid;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  font-size: 20px;
  float: right;
}
.button:hover {
  background-color: rgb(206, 206, 206);
  transition: 0.5s;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #cfcfcf,
      0 0 50px #cfcfcf, 0 0 60px #cfcfcf, 0 0 70px #cfcfcf 0 0 80px #cfcfcf;
  }
  to {
    text-shadow: 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff,
      0 0 60px #cfcfcf, 0 0 70px #cfcfcf, 0 0 80px #cfcfcf, 0 0 90px #cfcfcf;
  }
}
h1 {
  font-family: "Lato", sans-serif;
  font-size: 45px;
  text-align: center;
}
h1:hover {
  text-decoration: underline;
}
#text {
  font-family: "Lato", sans-serif;
  width: 600px;
  text-align: center;
  padding-left: 70px;
  padding-bottom: 40px;
}
#blok {
  border: 2px solid #ffffff;
  width: 750px;
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: #121212;
  border-radius: 10px;
  margin-top: 3%;
  position: relative;
  overflow-y: scroll;
  max-height: 600px;
}
#blok img {
  border: #ffffff 2px solid;
  border-radius: 3px;
  margin-left: 20%;
  width: 400px;
  object-fit: contain;
}
#blok iframe {
  margin-left: 20%;
  width: 400px;
  object-fit: contain;
  height: 200px;
  border: 2px solid #ffffff;
  border-radius: 3px;
}
.mainscroll {
  position: absolute;
  overflow: hidden;
}
img:hover {
  transform: scale(1.7);
  transition: 0.1s;
}
.images:hover {
  transform: scale(1);
}
.screen {
  position: fixed;
  z-index: 3;
  opacity: 80%;
  display: none;
}

#dot {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline;
    position: fixed;
  }

  