canvas 
{
    position: absolute;
    top: 0;
    left: 0;
}

.particles-js-canvas-el
{
    z-index:0;
    background-color: rgb(0, 0, 0);  
    width: 5000px;
    height: 100%;
}

#canvas
{
    z-index:1;
}

#obrazek:hover{
    transform: scaleX(10);
}