
canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.particles-js-canvas-el {
    z-index:0;
    background-color: rgb(0, 0, 0);  
    width: 4000px;
    height: 100%;
}

#canvas {
    z-index:1;
}
::-webkit-scrollbar {
	height: 20px;
}

::-webkit-scrollbar-track {
	background: #121212;

}

::-webkit-scrollbar-thumb {
	background: #11bcc9;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #0cacb8; 
}
#obrazek:hover {
    transition: 0.1s;
    transform: scale(1.5);
}

#info
{
    z-index: 3;
    position:fixed;
    display: none;
}

#background
{
    
}

h1
{
    color: aliceblue;
}

p{
    color: aliceblue;  
}

rect{
    fill: rebeccapurple;
    top: 50%;
    left: 50%;
}
